body {
    font-family: "宋体",Arial, Helvetica,  sans-serif;
    background-color: #FFFFFF;
    /*background-image: url("../img/grid-18px-masked.png");*/
    /*background-position: 0 40px;*/
    /*background-repeat: repeat-x;*/
    padding-top: 45px;
    position: relative;
}

.nav .nav-header{
	border-bottom: 1px solid #FAFAFA;
	padding:0px;
	font-size:14px;
}

.nav .nav-header span{
	display:block;
	border-bottom:1px solid #CCCCCC;
	padding: 3px 15px;
}


.help-inline{
	color:#999999;
}

.table-bordered{
	border:1px solid #BDD0F2;
}

.table-bordered th + th, .table-bordered td + td, .table-bordered th + td, .table-bordered td + th {
    border-left: 1px solid #BDD0F2;
}

.table-bordered tr.fix td{
    border-left: 1px solid #BDD0F2;
}

.table th, .table td {
    border-top: 1px solid #BDD0F2;
    vertical-align: middle;
}

.table th.ac{
	text-align: center;
}

.table-striped thead tr td, .table-striped thead tr th,
 .table-bordered tbody tr th, .table-bordered thead tr th{
    background-color: #EAF4FF;
}

.table-bordered th, .table-bordered td {
    border-left: none;
}

.table th, .table td {
    padding: 6px;
}

.well-mini{
	padding:10px;
}

.well-lightblue{
 	margin:10px;
	background-color: #EAF4FF;
	border: 1px solid #BDD0F2;
	border: 1px solid rgba(189, 208, 242, 0.22);
	
}

.echo{
	padding-top:5px;
	padding-left:0px;
}
.area {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 20px 0px 0px 0px;
}

.page-header {
    margin: 10px 0;
    padding-bottom:10px;
}

a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(/img/calendar.png) no-repeat;
}

a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}

input.dp-applied {
	width: 140px;
	float: left;
}

.form-horizontal .control-group {
  	margin-bottom: 9px;
}

.required{
	color:red;
	font-weight:bold;
}

.ar{
	text-align: right;
}
.ac{
	text-align:center;
}

.nowrapList{
	overflow-x: scroll;
	margin-bottom:18px;
}

.nowrapList table th, .nowrapList table td{
	white-space: nowrap;
	word-wrap:break-word;
}

.mb05{
	margin-bottom:5px;
}

.form-search .control-label{
	width:80px;
	float:left\9;
	margin-top:5px\9;
}

.form-well {
  min-height: 20px;
  padding: 20px 0px 11px;
  background-color: #EAF4FF;
  border: 1px solid #BDD0F2;
  border: 1px solid rgba(189, 208, 242, 0.22);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(189, 208, 242, 0.55);
  -moz-box-shadow: inset 0 1px 1px rgba(189, 208, 242, 0.55);
  box-shadow: inset 0 1px 1px rgba(189, 208, 242, 0.55);
}

ul.actionMessage,ul.errorMessage{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.error {
    background: url("../img/error.png") no-repeat scroll 10px 50% #FFECEC;
    padding-left:40px;
    
    border: 1px solid #F16557;
    color: #A23C2A;    
}

.success{
	background: url("../img/success.png") no-repeat scroll 10px 50% #DFFFDF;
    padding-left:40px;
	border:1px solid #9fcf9f;
	color:#005f00;    
}

.info{
	background: url("../img/info.png") no-repeat scroll 10px 50% #FEFBE4;
    padding-left:40px;
    border: 1px solid #BEB49C;
    color:#000000;
}

.error p, .success p, .info p{
	margin: 0;
    padding: 0;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.container-fluid{
	padding-left: 10px;
    padding-right: 10px;
}

/**页面横向tab菜单*/

.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 18px;
    padding-bottom: 4px;
    padding-top: 4px;
}


.breadcrumb {
    margin: 5px 0 15px;
    padding: 4px 10px;
}

.pagination {
    height: 25px;
    margin: 15px 0;
}

.pagination a {
    line-height: 30px;
}

.pull-right {
    float: right;
    padding-top: 5px;
}

input, textarea, select, .uneditable-input {
    font-size: 12px;
    height: auto;
    padding: 4px;
    width: 210px;
}

input.datepicker{
    width: 88px;
}

button.fixedlength{
	width:80px;
}

.header_container{
	margin-left: 10px;
}

.table th.ac, .table td.ac {
    text-align: center;
}
 


 